html {
    background-image:linear-gradient(to bottom, #4B3A4A, #966093);
    background: #302133;
}

pre {
    background: #EEE;
    border-radius: 5px;
    padding: 5px;
}

li {
    list-style: none;
    text-align: center;
    align-self: center;
}

.header {
    height: 170px;
    color: #fff;
    background: url(images/drip.svg);
    padding: 10px;
    background-size: 210px 170px;
    position:absolute;
    width: 100%;
    top: -2px;
}

.header-contents {
    display: flex;
    justify-content: center;
}

.buttons {
    margin: 10px;
    margin-left: 5%;
    margin-top: 20px;
    align-self: center;
}

a.button {
    font-family: 'Koulen', cursive;
    font-size: 35px;
    padding-left: 20px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    -webkit-transition: text-shadow 0.1s linear;
    -moz-transition: text-shadow 0.1s linear;
    -ms-transition: text-shadow 0.1s linear;
    -o-transition: text-shadow 0.1s linear;
    transition: text-shadow 0.1s linear;
}

a.button:hover {
    text-shadow: 0px 0px 10px white;
    text-decoration: none;
}

.logo {
    width: 270px;
    height: 101px;
    margin-top: 3px;
    transition: all .2s ease-in-out; 
}

.logo:hover {
    transform: scale(1.03);
}

.content-container {
    justify-content: center;
    display: flex;
}

.content {
    width: 90%;
    background: #f2eaf4;
    padding-top: 170px;
    padding-left: 15%;
    padding-right: 15%;
    border: 2px solid black;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 0px 20px black;
}

.quote{
    font-family: sacramento;
    font-size: 60px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.section-header{
    font-family: sacramento;
    font-size: 40px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.body-text{
    margin-top: 30px;
    font-size: 22px;
}
.mm-body-text{
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}
.link-tree {
    list-style: none;
    padding-bottom: 15px;
}
.sm-icons {
    margin-left: 5%;
    align-self: center;
}

.sm-icon {
    width: 50px;
    margin-left: 15px;
    transition: all .2s ease-in-out; 
}

.sm-icon:hover { 
    transform: scale(1.1);
}


.focus-img{
    border-radius: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
}

.footer{
    color: white;
    padding: 10px;
    padding-top: 40px;
    margin-top: -25px;
    padding-bottom: 35px;
    text-align: center;
    background: url(images/shroom.svg);
    background-size: 210px 170px;
}

a.secondary-button {
    font-family: 'Koulen', cursive;
    font-size: 15px;
    padding-left: 10px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: black;
    -webkit-transition: text-shadow 0.1s linear;
    -moz-transition: text-shadow 0.1s linear;
    -ms-transition: text-shadow 0.1s linear;
    -o-transition: text-shadow 0.1s linear;
    transition: text-shadow 0.1s linear;
}

a.secondary-button:first-child{
    padding-left: 0px !important;
}

a.secondary-button:hover {
    text-shadow: 0px 0px 4px white;
    text-decoration: none;
}

.secondary-buttons{
/*    margin-left: 40px;*/
}

.icon-credit {
/*    margin-left: 48px;*/
    font-size: 10px;
}

.stages-header {
    font-size: 25px;
    font-weight: 600;
    font-family: sacramento;
}

.example-header {
    font-family: sacramento;
    font-size: 25px;
/*    font-style: oblique;*/
}
.carousel-indicators{
    position: initial;
}
.carousel-control-prev{
    left: 35px
}
.carousel-control-next{
    right: 55px
}
.carousel-control-next, .carousel-control-prev{
    z-index: 1;
    position: fixed !important;
    opacity: 1;
}
.carousel-inner {
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 10px;
}
.carousel-item{
    padding: 10px;
    padding-top: 10px;
}

.example {
    background-color:aliceblue;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    padding-bottom: .5px;
    margin-bottom: 10px;
}

.stages-summary {
    font-style:italic;
}

.stages-body {
    padding-top: 10px
}

body {
    background: #eee;
    color: #545454;
    font-family: calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background: linear-gradient(180deg, rgb(92 78 95) 0%, rgb(67 40 72) 100%);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    
}

h2 {
    margin-top: 15px;
}

a {
    color: #e9beed;
}

b, strong {
    font-weight: 600;
}


@media only screen and (max-width: 1070px) {
    a.button {
        font-size: 25px;
        padding-left: 10px;
    }
    .logo {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 906px) {
    .sm-icon {
        width: 30px;
    }
    .sm-icons {
        margin-left: 2%;
    }
    a.button{
        font-size: 22px;
        -webkit-text-fill-color: white;  Will override color (regardless of order) 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

@media only screen and (max-width: 755px) {
    .sm-icon {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .button {
        display: none;
    }
}
.row_head {
    background-color: #a7a6ba
}
.row_body {
    background-color: #cccccc
}
.row_foot {
    background-color: #a7a6ba
}